<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.modular.system.dao.VideoInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.stylefeng.guns.modular.system.model.VideoInfo">
        <id column="id" property="id" />
        <result column="video_name" property="videoName" />
        <result column="video_url" property="videoUrl" />
        <result column="image_url" property="imageUrl" />
        <result column="service_creator" property="serviceCreator" />
        <result column="consumer" property="consumer" />
        <result column="account" property="account" />
        <result column="create_date" property="createDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, video_name AS videoName, video_url AS videoUrl, service_creator AS serviceCreator, consumer, account, create_date AS createDate, image_url AS imageUrl
    </sql>

</mapper>
